{% extends "flask_user_layout.html" %}

{% block content %}
<p>
<a href="{{ url_for('service_request.summary_page') }}"> Help Desk Home </a> &nbsp; | &nbsp;
<a href="{{ url_for('service_request.annualday_rules_page') }}"> Rules and Guidelines </a>
</p>
<h2>Annual Day 2022 - Signup</h2>

<p style="color:#0000FF";>Note: Registration is per APS Student. If you would like to register another student please register again </p>
<BR/>

<form action="" method="POST" class="form" role="form" onSubmit="return confirm('Are you sure to signup for Annual Day 2022?');">
  <div class="row">
    {% from "common/_formhelpers.html" import render_field %}
    <div class="col-sm-6 col-md-5 col-lg-5">
    {{ render_field(form.email, size=60 ) }}
<p></p>
<p></p>
    {{ render_field(form.student_email, size=60 ) }}
<p></p>
<p></p>
    {{ render_field(form.events) }}
<p></p>
<p></p>
    {{ render_field(form.time_slot) }}
<p></p>
<p></p>
    {{ render_field(form.comments) }}
<p></p>
<p></p>
    {{ render_field(form.submit ) }}
    </div>
  </div>
</form>

{% endblock %}
