{% extends "flask_user_layout.html" %}

{% block content %}

<h1>Annual Day(2022) - Registration(s)</h1>

{% if annualday_rowcount > 0 %}
    <p style="color:#0000FF";>{{ annualday_pagination.info }}</b></p> </p>
    <table>
      <thead>
        <tr>
          <th>Reg (#)</th>
          <th>Registered By</th>
          <th>Registered For</th>
          <th>Registered Event(s)</th>
          <th>Registered On</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
          {% for registration in registrations %}
          <tr>
            <td align="center">{{ registration.registration_id }}</td>
            <td>{{ registration.email }}</td>
            <td>{{ registration.student_email }}</td>
            <td style="width:400px">{{ registration.events }}</td>
            <td>{{ registration.created_at }}</td>
            <td style="width:200px">{{ registration.comments }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p></p>

    <p></p>
    {{ annualday_pagination.links }}
    <p></p>
    <form action="/service_request_admin_page" method="POST" class="form" name="service_request_admin_page" value="annualday" role="form" onSubmit="return confirm('Are you sure to download registrations?');">
        <div class="row">
            {% from "common/form_macros.html" import render_field, render_submit_field %}
            <div class="col-sm-6 col-md-5 col-lg-4">
                {{ render_field(form.to_csv ) }}
                {{ render_submit_field(form.submit_registrations ) }}
            </div>
        </div>
    </form>
{% else %}
    <p style="color:#0000FF";><b> No  registration(s) for Annual Day 2022 at this time. </b></p> </p>
{% endif %}

<p></p><p></p><p></p>
{% endblock %}
