{% extends "flask_user_layout.html" %}

{% block content %}
<p>
<a href="{{ url_for('service_request.summary_page', view=0) }}"> Help Desk Home </a>
</p>
<h2>Annual Day - Rules and Guidelines</h2>

<p style="color:#0000FF";>Note: Registration is per APS Student. If you would like to register another student please register again </p>
<BR/>

<!--
<pre>
1. மாத்தியோசி:
    * நெறியாளர் கேட்கும் கேள்விகளுக்கு, சம்பந்தமில்லாத பதிலை போட்டியாளர் சொல்ல வேண்டும்
    * இரண்டு நிமிடங்கள் போட்டியாளர்கள் தொடர முடிந்தால் போட்டியாளர்  வெற்றி பெறுவார்
    * ஒரே வார்த்தையில் பதில் சொல்ல கூடாது
    * ஒரு நொடிக்குள் பதில் சொல்லத் தொடங்க வேண்டும்
    * வார்த்தைகளுக்கு இடையே ஒரு நொடிக்கு மேல் இடைவெளி விடக்கூடாது
    * சொன்ன பதிலையே திரும்ப சொல்லக்கூடாது
    * ஒரே வார்த்தையை மூன்று முறைக்கு மேல் பயன்படுத்தக் கூடாது
    * பதில்கள்  தமிழில் மட்டுமே இருக்க வேண்டும்
    * ஆங்கில சொற்களை பயன்படுத்தக்கூடாது

    உதாரணம்:
        கேள்வி: நீங்கள் எந்த ஊரில் வசிக்கிறீர்கள்?
        பதில்: எனக்கு இட்லி ரொம்ப பிடிக்கும்
        கேள்வி: உங்களுக்கு வேறு என்னென்ன பிடிக்கும்?
        பதில்:  நான் வடக்கு கரோலினாவில் வசிக்கிறேன்.

2. வார்த்தை/ சொல் விளையாட்டு:
    * வார்த்தை/சொல் விளையாட்டு போட்டியில் பங்கேற்பவர்கள் நமது பாடசாலையில் பயிலும் மாணவராக இருக்க வேண்டும்.
    * ஒருவருக்கு 90 நொடிகள்  கொடுக்கப்படும். போட்டியை நடத்துபவர் ஆங்கிலத்தில் ஒரு வார்த்தை கேட்பார் அந்த வார்த்தையின் பொருளை தமிழில் சொல்ல வேண்டும்.
    * ஆங்கில வார்த்தையின் பொருள் தெரியவில்லை என்றால் அடுத்து என்று சொல்லவேண்டும் நேரத்தை வீணாக்கக்கூடாது. ஆங்கில வார்த்தை உபயோகப்படுத்தக் கூடாது.
    * எந்த மாணவர் 90நொடிகளில் அதிகமான அளவு தமிழ் வார்த்தைகளை சொல்கிறார்களோ அவரே வெற்றியாளர்.
    * மாணவர்களுக்கு இடையே போட்டி கடுமையாக இருந்தால் இரண்டாவது சுற்று நடத்தி வெற்றியாளர் தேர்ந்தெடுக்கப்படுவார்.
    தலைப்பு:
         பூக்களின் பெயர்
         மரங்களின் பெயர்
         உறவுகளின் பெயர்
         நாட்களின் பெயர்
         விலங்குகளின் பெயர்
         காய்கறிகளின் பெயர்
         பழங்களின் பெயர்
         எண்களின் பெயர்

3. திருக்குறள் ஆத்திச்சூடி படப் போட்டி
    * இரண்டு பேர் கொண்ட நான்கு குழுக்கள் போட்டியில் பங்கேற்பார்கள்
    * குறிஞ்சி, முல்லை, மருதம், நெய்தல்: குழுக்களின் பெயர்கள்
    * போட்டி இரண்டு தலைப்புகளில் நடைபெறும் கூட்டாஞ்சோறு மற்றும் ஐந்திணை
        * கூட்டாஞ்சோறு
            இந்தப் போட்டியின் குறிக்கோள்: காட்டப்படும் படங்களைப் பார்த்து திருக்குறள்/ஆத்திச்சூடி -யை கண்டுபிடிக்க வேண்டும்
            மொத்தம் 12 கேள்விகள்
            கேள்விகள் ஒவ்வொரு குழுவிடமும் வரிசையாக கேட்கப்படும்
            சரியான பதிலுக்கு பத்துப் புள்ளிகள்
            கேட்கப்பட்ட குழுவிற்கு பதில் தெரியாவிட்டால் அடுத்த குழுவிற்கு கேள்வி செல்லும், சரியாக சொல்லும்அடுத்த குழுவிற்கு  ஐந்து புள்ளிகள்

            உதாரணம்:
                <img src="/static/image/image001.jpg" alt="image001.jpg" width="100" height="100" /> <img src="/static/image/image002.jpg" alt="image002.jpg" width="100" height="100" /> <img src="/static/image/image003.jpg" alt="image003.jpg" width="100" height="100" />
                தீயினால் சுட்ட புண் உள்ளாறும்
                ஆறாதே நாவினால் சுட்ட வடு

        * ஐந்திணை:
            இந்தப் போட்டியின் குறிக்கோள்: ஐந்து படங்களை வைத்து திருக்குறள்/ஆத்திச்சூடி -யை கண்டுபிடிக்க வேண்டும்
            ஒவ்வொரு படங்களாக திரையில் தோன்றும் போது விடை தெரிந்தவர்கள் கையை உயர்த்த வேண்டும்.
            முதல் படத்தில் பதில் கண்டுபிடித்தால் 100 புள்ளிகள்.

4. தமிழில் உரையாடு - ஆசிரியர்களுக்கான போட்டி:
        * கேள்வி தமிழிலோ ஆங்கிலத்திலோ எப்படி இருந்தாலும் தூய தமிழில் மட்டுமே பதில் கூற வேண்டும். 2. ஆங்கில வார்த்தையில் பதில் கூறினால் நீங்கள் போட்டியில் இருந்து விலக்க படுவீர்கள்.
        * தமிழில் வார்த்தை தெரியாமல் அதிக நேரம் யோசிக்க கூடாது உடனடியாக பதில் கூற வேண்டும்.
        * முழுமையான பதிலாக இருக்க வேண்டும். ஆம் இல்லை என்று ஒற்றைச் சொல் பதிலாக இருக்கக்கூடாது .5. குறைந்தது 5 கேள்விகள் ஆவது தங்களின் தமிழ் திறமையை சோதிக்க கேட்கப்படும்.

        உதாரணம்:
            o    நீங்கள் எப்படி பணிக்குச் செல்வீர்கள்?? நான் மகிழுந்தில் பணிக்குச் செல்வேன்.

5. மாறுவேடப் போட்டி
    * மாறுவேடம் தமிழர் பண்பாட்டை வெளிப்படுத்தும் வகையில் இருக்க வேண்டும்.
    * தமிழ் ஆசான்கள் அல்லது  தமிழ் தொண்டாற்றியவர்கள் இருந்தால் சிறப்பு.

    உதாரணம்:
        · திருவள்ளுவர்
        · ஔவையார்
        · வேலு நாச்சியார்
        · பாரதியார்
        · தீரன் சின்னமலை
        · வ.உ.சிதம்பரனார்
        · ராஜ ராஜ சோழன்
        · மேலும் உங்கள் சிந்தனைக்கு உட்பட்டது

6. தமிழோடு விளையாடு – இறுதிப்போட்டி

7. ஓர் வகுப்பு - ஓர் நிகழ்ச்சி கட்டாயம்
    * பெற்றோர்களும் ஆசிரியர்களும் இணைந்து ஒவ்வொரு வகுப்பில் இருந்தும் ஒரு நிகழ்ச்சியை வழங்குமாறு கேட்டுக்கொள்கிறோம்,
    * இது உங்கள் சிந்தனைக்கு உட்பட்டது. நாடகம், நடனம், பாடல், கேளிக்கை போன்று எத்தகைய நிகழ்ச்சியாகவும் இருக்கலாம்
</pre>
-->
{% endblock %}
