Hello,
<p>
Please find below the service request details.
</p>
<p>
<b>Service Type : </b></BR> {{ service_type }}
</p>
<p>
<b>Service Requested For : </b></BR> {{ service_for }}
</p>
<p>
<b>Service Description : </b> {{ service_description }}
</p>
{% if response == None %}
{% else %}
<p>
<b>Admin Team Response : </b> {{ response }}
</p>
{% endif %}



<table border="0">
<tr>நன்றி </tr>
<tr>MyAPS - Admin Team </tr>
<tr>https://myaps.avvaiyarpadasalai.org </tr>

<tr>ஔவையார் பாடசாலை அமெரிக்கா </tr>
<tr>உலகின் முதல் மெய்நிகர்த் தமிழ்ப்பள்ளி    </tr>
<tr>https://www.avvaiyarpadasalai.org </tr>
</table>