Hello,
<p>
Thank you for enrolling - Annual Day 2022 events.
Registration details as below.
</p>
<p>
<b>Registered Email : </b></BR> {{ student_email }}
</p>
<p>
<b>Registered Events : </b></BR> {{ events }}
</p>
<p>
<b>Comment(s) : </b> {{ comments }}
</p>

<table border="0">
<tr>நன்றி </tr>
<tr>MyAPS - Admin Team </tr>
<tr>https://myaps.avvaiyarpadasalai.org </tr>

<tr>ஔவையார் பாடசாலை அமெரிக்கா </tr>
<tr>உலகின் முதல் மெய்நிகர்த் தமிழ்ப்பள்ளி    </tr>
<tr>https://www.avvaiyarpadasalai.org </tr>
</table>